.staggering-grid {
  height: 9rem;
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.el {
  background-color: #FFC576;
  height: 100%;
  width: 100%; }

.square1, .square2, .square3 {
  height: 1rem;
  width: 1rem;
  color: #fff;
  z-index: 2;
  background: transparent;
  justify-self: start; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Jost", sans-serif;
  color: #000;
  font-weight: 300;
  line-height: 1.5; }

.p-small {
  padding: 1.5rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  border: none;
  cursor: pointer; }

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      flex-direction: column; } }
  .footer__text {
    font-size: 1.5rem;
    margin: 1.5rem; }
  .footer__anchor {
    color: #000;
    margin: 1.5rem;
    font-size: 1.5rem;
    transition: all .3s; }
    .footer__anchor:hover {
      color: #FFC576; }

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9rem 1fr 9rem; }
  @media only screen and (max-width: 37.5em) {
    body {
      grid-template-rows: 30rem 1fr max-content; } }

.header {
  background: #000;
  display: flex;
  grid-template-columns: 24rem repeat(3, max);
  align-items: center;
  justify-content: space-evenly;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .header {
      flex-direction: column; } }
  .header__1__title {
    position: absolute;
    width: min-content;
    color: #fff;
    font-size: 2.1rem;
    letter-spacing: .6rem;
    margin: 0 2.4rem;
    z-index: 1; }
    @media only screen and (max-width: 37.5em) {
      .header__1__title {
        margin: 1.5rem; } }
  .header__1__nav-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center; }
  .header__2__text {
    letter-spacing: .3rem;
    color: #FFC576;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1.5rem;
    transition: all .3s; }
    .header__2__text:hover {
      color: #fff;
      transform: scale(1.02); }

.section {
  background-image: url("./images/jpn-v-c_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .section__1__input {
    margin: 1.5rem 0;
    width: 60vw;
    height: 3rem;
    border-radius: 0.9rem;
    padding: 2.4rem 1.5rem;
    font-size: 1.5rem;
    transition: all .3s; }
    .section__1__input:focus {
      outline: none;
      border: 3px solid #FFC576; }
    @media only screen and (max-width: 37.5em) {
      .section__1__input {
        width: 100vw; } }
  .section__1__main {
    background: #fff;
    background-image: linear-gradient(to bottom, #fff, rgba(0, 0, 0, 0.3));
    height: max-content;
    width: 60vw;
    border-radius: 0.9rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr); }
    @media only screen and (max-width: 37.5em) {
      .section__1__main {
        width: 100vw; } }
  .section__2__container-title {
    border: 3px solid #FFC576;
    margin: 1.5rem;
    padding-bottom: 0.6rem;
    background-color: #000;
    color: #fff;
    border-radius: 0.9rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center; }
  .section__2__container {
    margin: 0.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center; }
    .section__2__container:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
    .section__2__container:last-child {
      margin-bottom: 1.5rem; }
  .section__3__text {
    font-size: 1.5rem; }
    .section__3__text span {
      color: #FFC576; }
  .section__1__credits {
    margin: 1.5rem;
    padding: 0.6rem 1.5rem;
    border-radius: 0.9rem;
    background-color: #fff; }
