// COLORS
$color-primary: #FFC576;

$color-grey-light: #e1e1e1;
$color-grey: #959595;
$color-grey-dark: #555555;

$color-black: #000;
$color-white: #fff;

// FONT
$font-family-primary: 'Jost', sans-serif;
$font-family-secondary: 'Kufam', cursive;
$font-family-tertiary: 'Playfair Display', serif;
$font-size-xsmall: 1.2rem;
$font-size-small: 1.5rem;
$font-size-medium: 2.1rem;
$font-size-large: 3.3rem;
$font-size-xlarge: 4.5rem;
$font-size-xxlarge: 5.4rem;

// RESPONSIVE BREAKPOINTS
// 1em = 16px
$bp-largest: 75em;      // 1200px
$bp-large: 56.25em;     // 900px
$bp-medium: 37.5em;     // 600px
$bp-small: 28.125em;    // 450px

// COSMETICS
$br: .9rem;  // border radius
$bs-large: 0 0 1.2rem rgba($color-black, .3);   // box shadow
$bs-small: 0 0 .6rem rgba($color-black, .3);    // box shadow

// MARGIN / PADDING
$mp-small: .6rem;
$mp-medium: 1.5rem;
$mp-large: 2.4rem;
$mp-xlarge: 4.5rem;